.selectedRow{
    background-color: rgba(0,0,0,0.2);
}


.dialogBackground {
    z-index: 1000;
    position: fixed;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    height:100%;
}


.dialog{
    z-index: 2000;
    position:absolute;
    top:0;
    left:0;
    background-color:white;
}

.hide{
    display:none
}