<div class="col-md-12">


    <table id="bankAccountsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th ng-repeat="(key, value) in header">{{value.label}}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th ng-repeat="(key, value) in header">{{value.label}}</th>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="(key, obj) in bankAccounts" ng-click="selectChanged(obj);">
                <td ng-repeat="(key2, property) in header">{{obj[property.code]}}</td>
            </tr>
        </tbody>


    </table>
</div>